* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contenedor-login {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: #f7f7f7; 
}

#contenedor-login > div:first-child {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    background-color: rgb(254, 246, 235);
}


#contenedor-login > div:last-child {
    flex: 1;
}

#contenedor-login img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

form{
    padding: 1rem;;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
}

